---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Nicholas Nadeau | AI & Tech Innovator',
};
---

<Layout metadata={metadata}>
  <!-- Hero -->
  <Hero
    id="hero"
    title="Nicholas Nadeau"
    tagline="AI & Emerging Tech Expert | Investor | Mentor"
    actions={[
      { variant: 'primary', text: 'Connect with Me', href: 'https://www.linkedin.com/in/engnadeau/', target: '_blank' },
      { variant: 'secondary', text: 'Explore My Work', href: '#about' },
    ]}
  >
    <Fragment slot="subtitle">
      Building the future of AI and tech. <br />
      Empowering startups, advancing innovation, and investing in transformative ideas.
    </Fragment>
  </Hero>

  <!-- About Me -->
  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/engnadeau/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/engnadeau',
        },
      },
    ]}
    image={{
      src: '~/assets/images/nicholas.jpg',
      alt: 'Nicholas Nadeau',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I’m passionate about solving complex problems at the intersection of humans and intelligent systems—whether
        designing <a href="https://www.rogue-research.com/" target="_blank"
          >surgical robots and cognitive neuroscience devices</a
        >, building AI agents, or mentoring startups. My career spans robotics, AI, and hard tech, from developing
        biomedical devices to leading engineering at <a href="https://www.aon3d.com/" target="_blank">AON3D (YC W17)</a
        >, where we built 3D printers used for aerospace and defence applications, with parts now on the
        <a href="https://www.aon3d.com/case-study/why-the-canadian-space-agency-chose-3d-printing/" target="_blank"
          >ISS</a
        > and the
        <a href="https://www.aon3d.com/applications/the-first-3d-printed-parts-on-the-moon/" target="_blank">Moon</a>.
      </p>
      <br />
      <p>
        As CTO of <a href="https://www.1x.tech/" target="_blank">1X (formerly Halodi Robotics)</a>, I pioneered humanoid
        robots for security and human-robot collaboration. I later founded Nadeau Innovations, a fractional CTO
        consultancy
        <a href="https://smartone.ai/blog/smartone-acquires-nadeau-innovations-nicholas-nadeau-new-cto/" target="_blank"
          >acquired by SmartOne.ai</a
        >, where I became CTO during the AI boom. Now, through <a href="https://transcension.ai/" target="_blank"
          >Transcension AI</a
        >, I focus on expert consulting and fractional CTO engagements in AI, robotics, and emerging tech. I’m also
        Co-Founder/CTO of a stealth startup dedicated to data sovereignty and co-founder of the AI Salon’s Montréal
        Chapter, working to connect Québec’s AI startups with global investors. With a Ph.D. in robotics and AI, I’m
        driven to create systems that amplify human potential and transform how we collaborate with technology.
      </p>
    </Fragment>
  </Content>

  <!-- Portfolio -->
  <Brands
    title="Portfolio, Advisory, and Mentorship"
    id="portfolio"
    subtitle="Empowering innovation with strategic guidance and investment."
    icons={[]}
    images={[
      {
        src: '~/assets/images/logos/acrylicrobotics.png',
        alt: 'Acrylic Robotics',
      },
      {
        src: '~/assets/images/logos/bridgr.png',
        alt: 'BRIDGR',
      },
      {
        src: '~/assets/images/logos/cdl.png',
        alt: 'Creative Destruction Lab',
      },
      {
        src: '~/assets/images/logos/nextai.png',
        alt: 'Next AI',
      },
      {
        src: '~/assets/images/logos/transcension.png',
        alt: 'Transcension AI',
      },
      {
        src: '~/assets/images/logos/xmachina.png',
        alt: 'X Machina AI',
      },
      {
        src: '~/assets/images/logos/xpr.png',
        alt: 'XPR Labs',
      },
    ]}
  />

  <!-- Blog -->
  <BlogLatestPosts id="posts" title="Latest Posts" />
</Layout>
