---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Nicholas Nadeau | AI & Tech Innovator',
};
---

<Layout metadata={metadata}>
  <!-- Hero -->
  <Hero
    id="hero"
    title="Nicholas Nadeau"
    tagline="Tech Leader, Entrepreneur, AI Innovator"
    actions={[
      { variant: 'primary', text: 'Connect with Me', href: 'https://www.linkedin.com/in/engnadeau/', target: '_blank' },
      { variant: 'secondary', text: 'Explore My Work', href: '#about' },
    ]}
    image={{ src: '~/assets/images/hero-nicholas.jpg', alt: 'Nicholas Hero Image' }}
  >
    <Fragment slot="subtitle">
      I specialize in AI, data, and emerging tech innovation. <br />
      My focus is on turning high-impact concepts into real-world solutions.
    </Fragment>
  </Hero>

  <!-- About Me -->
  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/engnadeau/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/engnadeau',
        },
      },
    ]}
    image={{
      src: '~/assets/images/nicholas.jpg',
      alt: 'Nicholas Nadeau',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I'm an advisor and serial CTO with a Ph.D. in AI and engineering. My work drives practical applications of AI
        and data.
      </p>
      <br />
      <p>
        I mentor startups at <a href="https://creativedestructionlab.com/" target="_blank">Creative Destruction Lab</a> and
        <a href="https://www.nextcanada.com/next-ai/" target="_blank">Next AI</a> focusing on scalable tech with real results.
      </p>
      <br />
    </Fragment>
  </Content>

  <!-- Blog -->
  <BlogLatestPosts id="blog" title="Latest Posts" />

  <!-- CTA -->
  <CallToAction
    title="Let’s Connect"
    subtitle="Reach out on LinkedIn"
    actions={[
      {
        variant: 'primary',
        text: 'Connect on LinkedIn',
        href: 'https://www.linkedin.com/in/engnadeau/',
        target: '_blank',
      },
    ]}
  />
</Layout>
