---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Nicholas Nadeau',
};
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Nicholas Nadeau"
    tagline="CTO, Serial Founder, Technology Innovator"
    actions={[{ variant: 'primary', text: 'Connect with me', href: 'https://www.linkedin.com/in/engnadeau/' }]}
  >
    <Fragment slot="subtitle">
      I’m a CTO and serial founder focused on advancing AI and emerging technologies. <br /> With a Ph.D. in AI and engineering,
      I drive innovation and transform concepts into impactful, real-world solutions.
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/engnadeau/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/engnadeau',
        },
      },
    ]}
    image={{
      src: '~/assets/images/nicholas.jpg',
      alt: 'Nicholas Nadeau',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I’m the CTO at SmartOne.ai, a leader in AI and data solutions. With a Ph.D. in AI and engineering, I’ve built my
        career on tech innovation.
      </p>
      <br />
      <p>
        As an active mentor in the tech community, I support startups through platforms like Creative Destruction Lab,
        Techstars, and NextAI. My work includes leading humanoid robot deployments as CTO at 1X.
      </p>
      <br />
      <p>
        At SmartOne.ai, I drive product development and innovation, advancing human-AI collaboration to push the
        boundaries of AI applications.
      </p>
    </Fragment>
  </Content>

  <BlogLatestPosts title="Find out more content in my blog" />
</Layout>
